


<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
<h3>Create A Booking</h3>
    <%= simple_form_for [@experience, @booking] do |f| %>
          <% %>
          <%= @experience.id %>
          <%= f.input :booked_start_date, as: :string, input_html: { id: "start_date"} %>
          <%= f.input :booked_end_date, as: :string, input_html: { id: "end_date"} %>
          <%= f.submit "Add booking", class: "btn btn-primary" %>
        <% end %>
      <div>
    </div>


<h3 id="total-price" data-day-price="<%= @experience.unit_current_price %>"></h3>
