
<h1 class="page-title">Xplore our Experiences</h1>

<div class="content">
  <div class="my-cards">


        <% @experiences.each do |experience| %>


          <div class="card">
            <%= link_to experience do %>
            <% if experience.photos.first.nil? == true  %>
                <img class="card-img-top dashImage" src="https://source.unsplash.com/random" alt="Card image cap">
              <% else %>
                <% first_photo = experience.photos.first  %>
                <img class="card-img-top dashImage" <%= cl_image_tag first_photo.key, crop: :fill %>>
              <% end %>
            <div class="card-body">


              <p class="card-title"><strong><%= experience.title %></strong></p>
              <p class="card-text max-lines"> <%= experience.description %></p>
              <p> <%= experience.location %></p>
              <%= experience.latitude %>
              <%= experience.longitude %>


            </div>
          <% end %>

          </div>
        <% end %>
  </div>
 <div class="mapbox-container" >
    <div id = "guide-btn">
      <h1><%= link_to "Add Xperience",  new_experience_path(@experience),  class: "btn btn-primary"%></h1>
    </div>
    <div id="search-title">
      <h3 > What close?</h3>
    </div>
  <div id="map"
      style="width: 100%; height: 600px; margin: 15px;"
      data-markers="<%= @markers.to_json %>"

      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>




