<div container-fluid>

<h1> <%= @experience.title %>  </h1>
<h4> AT: <%= @experience.location %> </hh4>

<p> <%= @experience.description %>  </p>
<p> $<%= @experience.unit_current_price %> </p>
 
<% if @experience.photos.first.nil? == false  %>
  <% @experience.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>  

<p>Do you guys want a button for book now here ?! or is that on Dashboard?</p>

</div>
