<div container-fluid>
<h1> <%= @experience.title %>  </h1>
<br>
<p> <%= @experience.description %>  </p>
<p> $<%= @experience.unit_current_price %> </p>
 <!-- experimenting on how to grab only one photo -->
 <!--  <% first_photo = @experience.photos.first  %> -->
 <!--  <%= cl_image_tag first_photo.key, height: 300, width: 400, crop: :fill %> -->

<% @experience.photos.each do |photo| %>

  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h1><%= link_to icon('fa', 'trash-alt'), experience_path(@experience), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></h1>

<h1><%= link_to "make a booking now!",  new_experience_booking_path(@experience), class: "btn btn-primary"%></h1>
