<div container-fluid>

<p>Check that I can access first photo only !</p>



<h1> <%= @experience.title %>  </h1>
<br>
<p> <%= @experience.description %>  </p>
<p> $<%= @experience.unit_current_price %> </p>



<% first_photo = @experience.photos.first  %>

  <%= cl_image_tag first_photo.key, height: 300, width: 400, crop: :fill %>


<% @experience.photos.each do |photo| %>

  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

</div>
