<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Booked Experiences</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Listed Experiences</a>
<!--       <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"></a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
    </div>
  </div>

  <div class="col-9">

    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="container">
          <div class="row ">
            <% @bookings.each do |book| %>
              <div class="card col-4 p-2 m-4" style="width: 30px;">
              <% if book.experience.photos.first.nil? == true  %>
                <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
              <% else %>
                <% first_photo = book.experience.photos.first  %>
                  <img class="card-img-top" <%= cl_image_tag first_photo.key,  crop: :fill %>  >
              <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= book.experience.title %></h5>
                  <p class="card-text"><%= book.experience.description %></p>
                  <p class="card-text"><%= book.experience.unit_current_price %></p>
                  <% book.payment_status = "pending payment" %>
                  <p class="card-text"><%= book.payment_status %></p>
                    <h1><%= link_to "cancel booking", booking_path(book), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></h1>
                    <%= form_tag charges_path do %>
                    <article>
                    <% if flash[:error].present? %>
                      <div id ="error_explanation">
                      <p><%= flash[:error] %></p>
                      </div>
                      <% end %>
                    <label class = "amount">
                    <span>Amount: $5.00</span></label>
                    </article>

                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                             data-key= "<%= Rails.configuration.stripe[:publishable_key] %>"
                             data-description= "payment for exp"
                             data-amount = "500"
                             data-locale = "auto"
                    ></script>
                    <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="container">
          <div class="row ">
            <% @experiences.each do |exp| %>
              <div class="card col-4 p-2 m-4" style="width: 30px;">
                <% if exp.photos.first.nil? == true  %>
                  <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
                <% else %>
                  <% first_photo = exp.photos.first  %>
                    <img class="card-img-top" <%= cl_image_tag first_photo.key,  crop: :fill %>  >
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= exp.title %></h5>
                  <p class="card-text"><%= exp.description %></p>
                  <h1><%= link_to "remove this listing", experience_path(exp), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></h1>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Flatpickr Demo</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {id: "start_date"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {id: "end_date"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
